.pagination {
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  body:not([data-step=""]) & {
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: currentColor;
    transform: translate(0, -50%);
    transition: filter 0.3s;
  }
}

.page {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0 0 0 auto;
  border: 1px solid;
  font-size: 8px;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  background: $white;
  border-radius: 25px;
  transition: background 0.3s;

  &.page-small {
    width: 10px;
    height: 10px;
    margin: 0 -20px 0 10px;
    opacity: 0;
    pointer-events: none;
    transition: margin 0.3s, opacity 0.3s;

    body[data-step^="1"] &[data-step^="1"],
    body[data-step^="2"] &[data-step^="2"] {
      margin: 0 0 0 10px;
      opacity: 1;
      pointer-events: auto;
    }
  }

  body[data-step="1"] &[data-step="1"],
  body[data-step="1.1"] &[data-step="1.1"],
  body[data-step="1.2"] &[data-step="1.2"],
  body[data-step="1.3"] &[data-step="1.3"],
  body[data-step="1.4"] &[data-step="1.4"],
  body[data-step="1.5"] &[data-step="1.5"],
  body[data-step="1.6"] &[data-step="1.6"],
  body[data-step="2"] &[data-step="2"],
  body[data-step="2.1"] &[data-step="2.1"],
  body[data-step="2.2"] &[data-step="2.2"],
  body[data-step="2.3"] &[data-step="2.3"],
  body[data-step="3"] &[data-step="3"] {
    background: $blue;
  }
}
