.slider-box {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 320px;
  margin: 60px auto 80px;
  overflow: hidden;

  @media (min-width: $screen-md) {
    justify-content: center;
    max-width: 100%;
    margin: 90px auto 100px;
  }

  &:last-child {
    margin-bottom: 20px !important;
  }

  img {
    max-width: 100%;
  }
}

.slider-button {
  position: absolute;
  top: 100px;
  width: 40px;
  height: 40px;
  background: url("~/assets/images/icons/arrow-right.svg") left center no-repeat;
  background-size: 15px;
  opacity: 0.2;
  cursor: pointer;

  @media (min-width: $screen-md) {
    display: none;
  }

  &.slider-button--prev {
    left: -20px;
    transform: rotate(180deg);
  }

  &.slider-button--next {
    right: -20px;
  }
}

.slider {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (max-width: #{$screen-md - 0.5px}) {
    transition: transform 0.3s;

    .slider-box[data-offset="1"] & { transform: translate(-100%, 0); }
    .slider-box[data-offset="2"] & { transform: translate(-200%, 0); }
  }

  @media (min-width: $screen-md) {
    width: 25%;
    margin: 0 2%;
    flex-grow: 1;
    max-width: 400px;
  }

  @media (min-width: $screen-md) {
    flex-grow: 1;
    max-width: 400px;
  }

  span {
    margin: 45px 0 25px;
    font-size: 30px;
    font-weight: 700;
  }

  ul {
    list-style: disc;
    width: 90%;
    max-width: 200px;

    @media (min-width: $screen-lg) {
      max-width: 280px;
      font-size: 22px;
    }
  }

  img {
    width: 215px;

    @media (min-width: $screen-lg) {
      width: 300px;
    }
  }
}
