@import "./general";
@import "./header";
@import "./button";
@import "./footer";

main {
  min-height: calc(100vh - 240px);
  text-align: center;

  @media (min-width: $screen-md) {
    width: 90% !important;
  }

  @media (min-width: $screen-lg) {
    text-align: left;
  }
}

h1 {
  font-size: 60px;
  text-transform: uppercase;

  @media (min-width: $screen-sm) {
    font-size: 70px;
  }

  @media (min-width: $screen-lg) {
    font-size: 48px;
    text-transform: none;
  }

  small {
    display: block;
    font-size: 0.5em;

    @media (min-width: $screen-lg) {
      display: inline;
      font-size: 1em;
    }
  }
}

.description {
  font-size: 18px;
  font-weight: 400;

  @media (min-width: $screen-lg) {
    font-size: 20px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;

  br {
    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}

.about {
  @media (min-width: $screen-lg) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 50px 0 70px;
  }

  img {
    width: 328px;
    max-width: 100%;
    margin: 40px auto 90px;

    @media (min-width: $screen-lg) {
      order: 2;
      margin: 0 0 20px 30px;
    }
  }
}

.team {
  margin: 0 0 30px;
  font-size: 10px;
  font-weight: 400;
  line-height: 3;

  @media (min-width: $screen-sm) {
    font-size: 14px;
  }

  @media (min-width: $screen-lg) {
    font-size: 20px;
    line-height: 1.5;
  }

  p {
    margin: 0;
  }
}
