@import "./general";
@import "./header";
@import "./footer";
@import "./button";

.bg-yellow {
  background: $yellow;
}

.header {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transition: background 0.3s, box-shadow 0.3s;

  body:not([data-step=""]) & {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.icon {
  flex-shrink: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.5em 0 0;
  background: center no-repeat;
  background-size: contain;

  &.icon--o { background-image: url("~/assets/images/icons/dot-o.svg"); }
  &.icon--x { background-image: url("~/assets/images/icons/dot-x.svg"); }
}


.guideline--image {
  width: 100%;
}

article {
  padding: 0 85px;
  padding-bottom: 79px;
}

.navbar {
  img {
    width: 100%;
  }
}

.guideline-section-title {
  font-family: Noto Sans;
  font-weight: bold;
  font-size: 3.125rem;
  color: $black;
}

.guideline-section-description {
  font-family: Noto Sans;
  font-weight: normal;
  font-size: 1.25rem;
  color: $black;
}

@import "./guideline/pagination";
@import "./guideline/nav";
@import "./guideline/section";
@import "./guideline/slider";
@import "./guideline/tab";
@import "./guideline/case";
