@import "./menu";

.header {
  .header--bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
  }
}

.header .header__button {
  border: 1px solid #000;
  border-radius: 50px;
  padding: 19px 35px;
  background: $white;
  color: $text;
  font-weight: 300;
  font-size: 1.25rem;
}
