@import "./general";
@import "./header";
@import "./button";

body {
  padding: 180px 0 0;

  @media (min-width: $screen-sm) {
    padding: 220px 0 0;
  }

  &::before {
    content: "";
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    display: block;
    height: 140px;
    background: url(~/assets/images/header-bg.png) repeat-x;
    background-position: top center;
    background-size: 142px 90px;

    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(~/assets/images/header-bg@2x.png);
    }

    @media (-webkit-min-device-pixel-ratio: 4) {
      background-image: url(~/assets/images/header-bg@4x.png);
    }
  }
}

.header {
  padding: 0;
}

.logo {
  text-align: center;

  & img {
    width: 100%;
    max-width: 499px;

    @media (max-width: $screen-sm) {
      width: 100%;
      max-width: 281px;
    }
  }
}


.enter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.enter--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 510px;
  max-width: 100%;
  margin: 0 30px;
}

.enter--image {
  width: 100%;

  @media (max-width: $screen-sm) {
    display: none;
  }

  &.enter--image__mobile {
    width: 100%;
    max-width: 309px;
    display: inline-block;

    @media (min-width: #{$screen-sm + 0.5px}) {
      display: none;
    }
  }
}

.enter--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 80px;
  margin: 30px 0 0;
  border: 0.05em solid;
  color: $text;
  font-size: 1.2rem;
  font-weight: bold;
  background: $white;
  border-radius: 10em;
  box-shadow: 10px 10px 0 $black;
  transition: background 0.3s;

  @media (min-width: $screen-sm) {
    width: 375px;
    height: 110px;
    margin: 60px 0 0;
    font-size: 1.875rem;
    box-shadow: 15px 15px 0 $black;
  }

  &:hover {
    background: $yellow;
  }
}
