<div class="hero">
  <h1><small>Covid-19</small>回國防疫 <br class="hide-md" />Checklist</h1>

  <div class="hero__nav">
    <a href="#step-1"><span>01</span></a>
    <a href="#step-2"><span>02</span></a>
    <a href="#step-3"><span>03</span></a>
    <a href="#step-4"><span>04</span></a>
    <a href="#step-5.1"><span>05</span></a>
  </div>

  <span class="hide-md">Scroll down</span>
  <img src="~/assets/images/icons/arrow-scroll.svg" alt="" />
</div>

<main class="container">
  <div id="step-1" class="section" data-order="1">
    <div class="content">
      <h3>
        <small>Step01 - Coming back home</small>
        <span>首先，確認回國</span>
      </h3>
      <div class="box">
        <div class="step">
          <div class="title">第一時間</div>
          <p>確認各家航空公司規範</p>
          <p>
            確認國內防疫規範
            <span class="step-links">
              <a href="https://www.cdc.gov.tw/Category/Page/HmbK99U-idbUnzFejZ6p_g" target="_blank">衛生福利部</a>
            </span>
          </p>
          <p>提醒家人勿接機</p>
        </div>
        <div class="step">
          <div class="title">登機前三天</div>
          <p>獲得陰性 PCR 報告證明</p>
        </div>
        <div class="step">
          <div class="title">確認陰性狀態後</div>
          <div class="note">注意：Delta 風險國 (巴西、印度、英國、秘魯、以色列、印尼、孟加拉、緬甸) 需集中檢疫，無須預約</div>
          <p>
            預約集中檢疫所或防疫旅館
            <span class="step-links">
              <a href="https://sp1.hso.mohw.gov.tw/ccqs/" target="_blank">檢疫所</a>
              <a href="https://taiwan.taiwanstay.net.tw/covhotel/" target="_blank">旅宿網</a>
            </span>
          </p>
          <p>獲得檢疫居所證明</p>
        </div>
      </div>
    </div>
  </div>
  <div id="step-2" class="section"  data-order="2">
    <div class="content">
      <h3>
        <small>Step02 - Getting on the flight</small>
        <span>接著，搭乘飛機</span>
      </h3>
      <div class="box">
        <div class="step">
          <div class="title">抵達機場</div>
          <p>注意各國、航空公司防疫規範</p>
          <p>注意保持社交距離</p>
        </div>
        <div class="step">
          <div class="title">在登機前</div>
          <p>
            在抵臺 48 小時前填入境檢疫系統
            <span class="step-links">
              <a href="https://hdhq.mohw.gov.tw/Default1?openExternalBrowser=1" target="_blank">檢疫系統</a>
            </span>
          </p>
        </div>
        <div class="step">
          <div class="title">在乘機時</div>
          <p>注意梅花座</p>
        </div>
      </div>
    </div>
  </div>
  <div id="step-3" class="section"  data-order="3">
    <div class="content">
      <h3>
        <small>Step03 - Getting off the flight</small>
        <span>再接著，下了飛機</span>
      </h3>
      <div class="box">
        <div class="note">注意：即便機場防疫不嚴謹，仍需保持社交距離</div>
        <div class="step">
          <div class="title">過紅外線篩檢站時</div>
          <p>確認已有臺灣電信門號</p>
          <p>出示陰性 PCR 報告</p>
          <p>需做 PCR 採檢</p>
        </div>
        <div class="step">
          <div class="title">過海關時</div>
          <p>出示檢疫居所證明</p>
          <p>出示手機健康憑證簡訊</p>
        </div>
      </div>
    </div>
  </div>
  <div id="step-4" class="section"  data-order="4">
    <div class="content">
      <h3>
        <small>Step04 - Start the quarantine</small>
        <span>然後，準備開始隔離</span>
      </h3>
      <div class="box">
        <div class="note">注意：即便機場防疫不嚴謹，仍需保持社交距離</div>
        <div class="step">
          <div class="title">乘車前往隔離地點</div>
          <div class="note">注意：Delta 風險國 (巴西、印度、英國、秘魯、以色列、印尼、孟加拉、緬甸) 需集中檢疫，無須預約</div>
          <p>出示居家檢疫通知書</p>
        </div>
        <div class="step">
          <div class="title">辦理入住手續</div>
          <div class="note">注意：Delta 風險國 (巴西、印度、英國、秘魯、以色列、印尼、孟加拉、緬甸) 需集中檢疫，無須預約</div>
          <p>出示檢疫居所證明</p>
        </div>
      </div>
    </div>
  </div>
  <div id="step-5.1" class="section"  data-order="5.1">
    <div class="content">
      <h3>
        <small>Step05 - Between quarantine</small>
        <span>最後，隔離期間</span>
      </h3>
      <div class="box">
        <div class="step">
          <div class="title">開始隔離 (第 1-6 天)</div>
          <p>獲得防疫包</p>
          <p>每日記錄體溫、狀態</p>
          <p>定期通知環保局清運垃圾</p>
        </div>
      </div>
    </div>
  </div>
  <div id="step-5.2" class="section"  data-order="5.2">
    <div class="content">
      <h3>
        <small>Step05 - Between quarantine</small>
        <span>最後，隔離期間</span>
      </h3>
      <div class="box">
        <div class="step">
          <div class="title">隔離中期 (第 7-12 天)</div>
          <p>適時消毒</p>
          <p>關注疫苗資訊</p>
          <p>
            獲得並查證資訊
            <span class="step-links">
              <a href="ttps://www.cdc.gov.tw/Category/Page/HmbK99U-idbUnzFejZ6p_g" target="_blank">官方資訊</a>
            </span>
          </p>
          <p>第 10-12 天需做家用快篩</p>
        </div>
      </div>
    </div>
  </div>
  <div id="step-5.3" class="section"  data-order="5.3">
    <div class="content">
      <h3 class="text-white">
        <small>Step05 - Between quarantine</small>
        <span>最後，隔離期間</span>
      </h3>
      <div class="box">
        <div class="step">
          <div class="title">隔離後期 (第 12-14 天)</div>
          <p>
            注意補助資訊
            <span class="step-links">
              <a href="https://swis.mohw.gov.tw/covidweb/" target="_blank">補助資訊</a>
            </span>
          </p>
          <p>第 12-14 需至醫院做 PCR 檢測</p>
        </div>
      </div>
    </div>
  </div>
</main>
