<main class="container">
  <div class="section" data-order="1">
    <div class="content">
      <h3>
        <small>Step01 - Coming back home</small>
        <span>首先，確認回國</span>
      </h3>
      <div class="box">
        <div class="step">
          <div class="title">第一時間</div>
          <p>確認各家航空公司規範</p>
          <p>
            確認國內防疫規範
            <a href="###">衛生福利部</a>
          </p>
          <p>提醒家人勿接機</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="content">
      <h3>
        <small></small>
        <span></span>
      </h3>
      <div class="box"></div>
    </div>
  </div>
  <div class="section">
    <div class="content">
      <h3>
        <small></small>
        <span></span>
      </h3>
      <div class="box"></div>
    </div>
  </div>
  <div class="section">
    <div class="content">
      <h3>
        <small></small>
        <span></span>
      </h3>
      <div class="box"></div>
    </div>
  </div>
  <div class="section">
    <div class="content">
      <h3>
        <small></small>
        <span></span>
      </h3>
      <div class="box"></div>
    </div>
  </div>
  <div class="section">
    <div class="content">
      <h3>
        <small></small>
        <span></span>
      </h3>
      <div class="box"></div>
    </div>
  </div>
  <div class="section">
    <div class="content">
      <h3>
        <small></small>
        <span></span>
      </h3>
      <div class="box"></div>
    </div>
  </div>
</main>
