<header class="header">
  <div class="container">
    <include src="./components/menu.html"></include>

    <div class="pagination">
      <a href="#step-1" class="page" data-step="1">01</a>
      <a href="#step-2" class="page" data-step="2">02</a>
      <a href="#step-3" class="page" data-step="3">03</a>
      <a href="#step-4" class="page" data-step="4">04</a>
      <a href="#step-5.1" class="page" data-step="5">05</a>
      <a href="#step-5.1" class="page page-small" data-step="5.1"></a>
      <a href="#step-5.2" class="page page-small" data-step="5.2"></a>
      <a href="#step-5.3" class="page page-small" data-step="5.3"></a>
    </div>

    <a class="button header__button header__button--icon" href="~/assets/files/checklist.pdf" download>
      <span class="hide-sm">下載 Checklist</span>
      <img class="show-sm" alt="" src="~/assets/images/icons/download.svg" width="24" />
    </a>
  </div>
</header>
