<div class="menu">
  <input id="menu" name="menu" type="checkbox" />
  <label for="menu">
    <img
      class="button"
      alt="menu"
      src="~/assets/images/icon-hamburger.png"
      srcset="~/assets/images/icon-hamburger@2x.png 2x, ~/assets/images/icon-hamburger@4x.png 4x"
    />
  </label>

  <div class="menu--dialog">
    <div class="container">
      <div class="menu-bar">
        <label for="menu">
          <img
            class="button"
            alt="menu"
            src="~/assets/images/icon-close.png"
            srcset="~/assets/images/icon-close@2x.png 2x, ~/assets/images/icon-close@4x.png 4x"
          />
        </label>

        <a href="/">
          <img
            class="menu--logo"
            alt="logo"
            src="~/assets/images/logo.png"
            srcset="~/assets/images/logo@2x.png 2x, ~/assets/images/logo@4x.png 4x"
          />
        </a>
      </div>

      <nav class="menu--nav">
        <ul>
          <li><a href="/checklist.html">回國防疫 Checklist</a></li>
          <li><a href="/guideline.html">防疫包設計指南</a></li>
          <li><a href="/aboutus.html">關於我們 About us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
