<div class="container">
  <div class="logo">
    <picture>
      <source
        media="(max-width: 428px)"
        srcset="
          ~/assets/images/logo--mobile.png 1x,
          ~/assets/images/logo--mobile@2x.png 2x,
          ~/assets/images/logo--mobile@4x.png 4x
        "
      />
      <img
        alt="logo"
        src="~/assets/images/logo.png"
        srcset="~/assets/images/logo@2x.png 2x, ~/assets/images/logo@4x.png 4x"
      />
    </picture>
  </div>
  <div class="enter">
    <img
      class="enter--image enter--image__mobile"
      alt="enter"
      src="~/assets/images/enter-image.png"
      srcset="~/assets/images/enter-image@2x.png 2x, ~/assets/images/enter-image@4x.png 4x"
    />
    <div class="enter--item">
      <img
        class="enter--image"
        alt="checklist"
        src="~/assets/images/checklist-image.png"
        srcset="~/assets/images/checklist-image@2x.png 2x, ~/assets/images/checklist-image@4x.png 4x"
      />
      <a class="button enter--button" href="~/assets/files/checklist.pdf">
        回國防疫 Checklist
      </a>
    </div>
    <div class="enter--item">
      <img
        class="enter--image"
        alt="checklist"
        src="~/assets/images/guideline-image.png"
        srcset="~/assets/images/guideline-image@2x.png 2x, ~/assets/images/guideline-image@4x.png 4x"
      />
      <a class="button enter--button" href="./guideline.html">
        防疫包設計指南
      </a>
    </div>
  </div>
</div>