<div class="container">
  <div class="aboutus">
    <div class="aboutus--title">關於我們 About us</div>
    <p class="aboutus--description">「防疫筆記」專案以服務設計的角度切入，對疫情下大眾對隔離行為與隔離者的看法進行量化初探，透過質化訪談深入了解隔離流程的痛點，收斂出隔離者三層次需求之洞察。</p>
    <p class="aboutus--description">我們嘗試開啟討論議題的可能性，並引入通用設計的概念。最終對政府倡議以「使用者核心思維」設計防疫包；對大眾則扣合數位裝置、以「待辦事項」為核重新塑造隔離流程體驗。</p>
    <img
      class="aboutus--image"
      alt="enter"
      src="~/assets/images/aboutus-image.png"
      srcset="~/assets/images/aboutus-image@2x.png 2x, ~/assets/images/aboutus-image@4x.png 4x"
    />
  </div>
  <div class="team">
    <div class="team--title">The Rebranding Lab 品牌重塑實驗室</div>
    <div class="team--detail">創意總監  |  李宜軒 / Yi-Hsuan Li</div>
    <div class="team--detail">品牌體驗總監  |  張文馨 / Ｗen-Hsin Chang</div>
    <div class="team--detail">專案管理  |  陳宇薇 / Yu-Wei Chen、林珍娜 / Chen-Na Lin</div>
    <br />
    <div class="team--detail">設計與製作團隊  |  吳易陵 / Ling Wu、朱冠丞 / Guan-Cheng Zhu 、吳冠霖 / Ling Wu</div>
  </div>
</div>