<main class="container">
  <h1>關於我們 <small>About us</small></h1>
  <p class="description">「防疫筆記」專案以服務設計的角度切入，對疫情下大眾對隔離行為與隔離者的看法進行量化初探，透過質化訪談深入了解隔離流程的痛點，收斂出隔離者三層次需求之洞察。</p>
  <p class="description">我們嘗試開啟討論議題的可能性，並引入通用設計的概念。最終對政府倡議以「使用者核心思維」設計防疫包；對大眾則扣合數位裝置、以「待辦事項」為核重新塑造隔離流程體驗。</p>

  <div class="about">
    <img
      alt=""
      src="~/assets/images/aboutus-image.png"
      srcset="~/assets/images/aboutus-image@2x.png 2x, ~/assets/images/aboutus-image@4x.png 4x"
      width="328"
    />
    <div class="team">
      <h2>The Rebranding Lab <br>品牌重塑實驗室</h2>
      <p>創意總監 | 李宜軒 / Yi-Hsuan Li</p>
      <p>品牌體驗總監 | 張文馨 / Ｗen-Hsin Chang</p>
      <p>專案管理 | 陳思靖 / Sara Chen、林珍娜 / Chen-Na Lin</p>
      <br class="hide-sm" />
      <p>設計與製作團隊 | 吳易陵 / Ling Wu<span class="hide-sm">、</span><br class="hide-md" />朱冠丞 / Guan-Cheng Zhu 、吳冠霖 / Ling Wu</p>
    </div>
  </div>
</main>
