<div class="container">
  <div class="guideline">
    <picture>
      <source
        media="(max-width: 428px)"
        srcset="
          ~/assets/images/guideline__mobile.png 1x,
          ~/assets/images/guideline__mobile@2x.png 2x,
          ~/assets/images/guideline__mobile@4x.png 4x
        "
      />
      <img
        class="guideline--image"
        alt="guideline"
        src="~/assets/images/guideline__desktop.png"
        srcset="~/assets/images/guideline__desktop@2x.png 2x, ~/assets/images/guideline__desktop@4x.png 4x"
      />
    </picture>
  </div>
  <section class="communicate typography-usage">
    <div class="communicate-title">
      字體使用建議 Typography usage
    </div>
    <div class="communicate--good">
      <div class="communicate--label">在各種尺寸、場合上都萬用，簡單乾淨的黑體</div>
      <div class="communicate--label">不過度可愛，親和而正式的圓體</div>
      <div class="communicate--label">視覺上有重量依然好閱讀，粗細適中的粗體</div>
    </div>
    <div class="communicate--bad">
      <div class="communicate--label">勿用過多細節的字體，字體較小時不易閱讀</div>
      <div class="communicate--label">勿用裝飾性過強的字體</div>
      <div class="communicate--label">勿用手寫字體，易造成閱讀不便</div>
    </div>
  </section>
  <section class="communicate colour-usage">
    <div class="communicate-title">
      色彩使用建議 Colour usage
    </div>
    <div class="communicate--good">
      <div class="communicate--label">選擇二至五個顏色，以明亮、溫和、接受度高為主。</div>
    </div>
    <div class="communicate--bad">
      <div class="communicate--label">勿選擇過於強烈的顏色。尤其是易帶來壓迫感的亮紅色與亮黃色！</div>
      <div class="communicate--label">避免明度過低、過於暗沉的顏色</div>
      <div class="communicate--label">避免單用易引發政治、宗教聯想的顏色</div>
      <div class="communicate--label">需符合視障者友善原則，盡量不要同時使用紅/綠/棕/橘</div>
    </div>
  </section>
  <section class="communicate character-design-usage">
    <div class="communicate-title">
      角色設計建議 Character design usage
    </div>
    <div class="communicate--subtitle">
      用可愛角色溝通嚴肅的必要資訊，能降低溝通門檻（以口罩小子為例）
    </div>
    <div class="communicate-description">
      <ul>
        <li>先選擇：與防疫相關，但無負面資訊的物件</li>
        <li>再創作：輔助為主要目的。勿過度複雜、鮮豔，以簡單、幾何圖形為主</li>
        <li>後應用：傳遞訊息為目標，勿搶資訊焦點</li>
      </ul>
    </div>
    <div class="communicate--good">
      <div class="communicate--label"></div>
    </div>
    <div class="communicate--bad">
      <div class="communicate--label"></div>
    </div>
  </section>
  <section class="communicate packaging-usage">
    <div class="communicate-title">
      包裝形式建議 Packaging usage
    </div>
    <div class="communicate-subtitle">
      具別種功能的包裝，能有效提升防疫包使用度
    </div>
    <div class="communicate--good">
      <div class="communicate--label">不只是包裝：  除了裝防疫物資外，或許還能結合體溫登記...</div>
      <div class="communicate--label">對環境好：需大量發放，可使用環保可分解材質或可重複使用的包裝</div>
      <div class="communicate--label">傳達資訊：印上需要讓隔離者知道的重要資訊，減少傳單成本、同時增加「防疫包」的使用</div>
  </section>
  <section class="communicate copy-writing">
    <div class="communicate-title">
      文字表達 Copy writing
    </div>
    <div class="communicate--good">
      <div class="communicate--label">使用統一的標註方式</div>
      <div class="communicate--description">
        進入公共場所請務必<span>配戴口罩</span>，補充水分外<span>不得飲食</span>，並保持<span>社交距離</span>
      </div>
      <div class="communicate--label">使用合適圖示/列點取代段落式文字說明</div>
    </div>
    <div class="communicate--bad">
      <div class="communicate--label">勿同時以多種方式標註重點</div>
      <div class="communicate--label">避免專業語彙的使用</div>
    </div>
  </section>
  <section class="case">
    <div class="case--title__en">Related cases</div>
    <div class="case--title">相關案例</div>
    <a class="button case--button" href="https://tw.pandaid.jp/TOP" target="case">
      PAND AID
    </a>
    <a class="button case--button" href="https://covid19designchallenge.org/" target="case">
      Covid-19 Design Challenge
    </a>
    <a class="button case--button" href="https://www.tdri.org.tw/29100/" target="case">
      Covid-19疫情下國內外設計趨勢及產業觀察 — 公衛醫療篇
    </a>
    <a class="button case--button" href="https://www.tdri.org.tw/29007/" target="case">
      Covid-19疫情下國內外設計趨勢及產業觀察 — 城市環境篇
    </a>
    <a class="button case--button" href="https://www.latimes.com/entertainment-arts/story/2020-12-29/14-clever-covid-19-design-solutions-from-around-the-world" target="case">
      14 clever COVID-19 design solutions from around the world
    </a>
    <a class="button case--button" href="https://www.hsph.harvard.edu/magazine/magazine_article/how-can-designers-address-the-covid-19-pandemic/" target="case">
      How can designers address the COVID-19 pandemic?
    </a>
  </section>
</div>