<div class="container">
  <div class="guideline">
    <picture>
      <source
        media="(max-width: 428px)"
        srcset="
          ~/assets/images/guideline__mobile.png 1x,
          ~/assets/images/guideline__mobile@2x.png 2x,
          ~/assets/images/guideline__mobile@4x.png 4x
        "
      />
      <img
        class="guideline--image"
        alt="guideline"
        src="~/assets/images/guideline__desktop.png"
        srcset="~/assets/images/guideline__desktop@2x.png 2x, ~/assets/images/guideline__desktop@4x.png 4x"
      />
    </picture>
  </div>
  <section class="copy-writing">
    <div class="guideline-title copy-writing--title">
      文字表達 Copy writing
    </div>
    <div class="copy-writing--good">
      <div class="copy-writing--label">使用統一的標註方式</div>
      <div class="copy-writing--description">
        進入公共場所請務必<span>配戴口罩</span>，補充水分外<span>不得飲食</span>，並保持<span>社交距離</span>
      </div>
      <div class="copy-writing--label">使用合適圖示/列點取代段落式文字說明</div>
      <div class="copy-writing--description">
        <ul>
          <li>公共場所配戴口罩</li>
          <li>飲水外不得飲食</li>
          <li>保持社交距離</li>
        </ul>
      </div>
    </div>
    <div class="copy-writing--bad">
      <div class="copy-writing--label">勿同時以多種方式標註重點</div>
      <div class="copy-writing--description">
        進入公共場所請務必<span>配戴口罩</span>，補充水分外<span>不得飲食</span>，並保持<span>社交距離</span>
      </div>
      <div class="copy-writing--label">避免專業語彙的使用</div>
      <div class="copy-writing--description">新冠肺炎病徵：X 光影像瀰漫毛玻璃</div>
    </div>
  </section>
  <section class="case">
    <div class="case--title__en">Related cases</div>
    <div class="case--title">相關案例</div>
    <a class="button case--button" href="https://tw.pandaid.jp/TOP" target="case">
      PAND AID
    </a>
    <a class="button case--button" href="https://covid19designchallenge.org/" target="case">
      Covid-19 Design Challenge
    </a>
    <a class="button case--button" href="https://www.tdri.org.tw/29100/" target="case">
      Covid-19疫情下國內外設計趨勢及產業觀察 — 公衛醫療篇
    </a>
    <a class="button case--button" href="https://www.tdri.org.tw/29007/" target="case">
      Covid-19疫情下國內外設計趨勢及產業觀察 — 城市環境篇
    </a>
    <a class="button case--button" href="https://www.latimes.com/entertainment-arts/story/2020-12-29/14-clever-covid-19-design-solutions-from-around-the-world" target="case">
      14 clever COVID-19 design solutions from around the world
    </a>
    <a class="button case--button" href="https://www.hsph.harvard.edu/magazine/magazine_article/how-can-designers-address-the-covid-19-pandemic/" target="case">
      How can designers address the COVID-19 pandemic?
    </a>
  </section>
</div>