<div class="hero">
  <h1><small>COVID-19</small>防疫包<br class="hide-md" />設計指南</h1>
  <img src="~/assets/images/guideline-hero.png" alt="" />
  <p>「設計思考」由史丹佛大學於 2005 提出後，被廣泛應用到各領域中解決問題。在這份指南中將以精簡化的設計思考，透過三步驟重新檢視防疫包的設計。</p>
</div>

<div class="guideline-nav">
  <a href="#step-1.1">Step01<span>我們要提供防疫包給誰？</span></a>
  <a href="#step-2.1">Step02<span>我們如何定義防疫包內容？</span></a>
  <a href="#step-3">Step03<span>我們如何更有效傳遞防疫包概念？</span></a>
</div>

<main>
  <include src="./components/guideline/step-1.html"></include>
  <include src="./components/guideline/step-2.html"></include>
  <include src="./components/guideline/step-3.html"></include>
</main>

<div class="case">
  <div class="case__title"><small>Related cases</small>相關案例</div>
  <a href="https://tw.pandaid.jp/TOP" target="case">
    PAND AID
  </a>
  <a href="https://covid19designchallenge.org/" target="case">
    Covid-19 Design Challenge
  </a>
  <a href="https://www.tdri.org.tw/29100/" target="case">
    Covid-19疫情下國內外設計趨勢及產業觀察 — 公衛醫療篇
  </a>
  <a href="https://www.tdri.org.tw/29007/" target="case">
    Covid-19疫情下國內外設計趨勢及產業觀察 — 城市環境篇
  </a>
  <a href="https://www.latimes.com/entertainment-arts/story/2020-12-29/14-clever-covid-19-design-solutions-from-around-the-world" target="case">
    14 clever COVID-19 design solutions from around the world
  </a>
  <a href="https://www.hsph.harvard.edu/magazine/magazine_article/how-can-designers-address-the-covid-19-pandemic/" target="case">
    How can designers address the COVID-19 pandemic?
  </a>
</div>
