<section class="section" id="step-3" data-order="3">
  <div class="section__main">
    <div class="container">
      <p>Step03</p>
      <h3>第三步：我們如何更有效傳遞防疫包概念？</h3>
      <p>合適的呈現形式能加分地讓內容更有效地傳遞，而不合適的則可能導致內容產生扣分效果。<br/><br/>好的呈現形式是重要的，而防疫包呈現最重要的是「通用」，意即「無須特別改良便能給所有人使用」</p>
    </div>
  </div>

  <div class="section__toggle">
    <div class="container">
      <span>1</span>
      <h4><span>字體使用建議</span>Typography usage</h4>
    </div>
  </div>
  <div class="section__content">
    <div class="container container--row">
      <div class="tabs" data-tab="1">
        <button class="tab tab--o" data-tab="1"><span class="icon icon--o"></span>請遵循</button>
        <button class="tab tab--x" data-tab="2"><span class="icon icon--x"></span>請注意</button>
      </div>
      <div class="tab__content tab__content--half" data-tab="1">
        <p><span class="icon icon--o"></span>在各種尺寸、場合上都萬用，簡單乾淨的黑體</p>
        <img src="./assets/images/guideline-3/typography-1.png" width="550" />
        <br/>
        <p><span class="icon icon--o"></span>不過度可愛，親和而正式的圓體</p>
        <img src="./assets/images/guideline-3/typography-2.png" width="550" />
        <br/>
        <p><span class="icon icon--o"></span>視覺上有重量卻依然好閱讀，粗細適中的粗體</p>
        <img src="./assets/images/guideline-3/typography-3.png" width="550" />
        <br/>
      </div>
      <div class="tab__content tab__content--half" data-tab="2">
        <p><span class="icon icon--x"></span>勿使用過多細節的字體，字體較小時不易閱讀</p>
        <img src="./assets/images/guideline-3/typography-4.png" width="550" />
        <br/>
        <p><span class="icon icon--x"></span>勿用裝飾性過強的字體</p>
        <img src="./assets/images/guideline-3/typography-5.png" width="550" />
        <br/>
        <p><span class="icon icon--x"></span>勿用手寫字體，易造成閱讀不便</p>
        <img src="./assets/images/guideline-3/typography-6.png" width="550" />
        <br/>
      </div>
    </div>
  </div>

  <div class="section__toggle">
    <div class="container">
      <span>2</span>
      <h4><span>顏色使用建議</span>Colour usage</h4>
    </div>
  </div>
  <div class="section__content">
    <div class="container">
      <div class="tabs" data-tab="1">
        <button class="tab tab--o" data-tab="1"><span class="icon icon--o"></span>請遵循</button>
        <button class="tab tab--x" data-tab="2"><span class="icon icon--x"></span>請注意</button>
      </div>
      <div class="tab__content" data-tab="1">
        <p><span class="icon icon--o icon--color"></span>選擇二至五個顏色，以明亮、溫和、接受度高為主。</p>
        <p>
          <span class="colors-text">組合 01<small>共 5 色</small></span>
          <span class="colors">
            <span style="background: #EAD65E"></span>
            <span style="background: #54A4D6"></span>
            <span style="background: #009944"></span>
            <span style="background: #ED778A"></span>
            <span></span>
          </span>
        </p>
        <p>
          <span class="colors-text">組合 02<small>共 3 色</small></span>
          <span class="colors">
            <span style="background: #FFD747"></span>
            <span style="background: #F65E2D"></span>
            <span></span>
          </span>
        </p>
        <p>
          <span class="colors-text">組合 03<small>共 2 色</small></span>
          <span class="colors">
            <span style="background: #FFD747"></span>
            <span style="background: #0A90E4"></span>
          </span>
        </p>
      </div>
      <div class="tab__content" data-tab="2">
        <p><span class="icon icon--x icon--color"></span>勿選擇過於強烈的顏色。尤其是易帶來壓迫感的亮紅色與亮黃色！</p>
        <p>
          <span class="icon icon--color"></span>
          <span class="colors">
            <span style="background: #FF0000"></span>
            <span style="background: #FAFF00"></span>
            <span style="background: #00FF0A"></span>
            <span style="background: #FF00D6"></span>
          </span>
        </p>
        <p><span class="icon icon--x icon--color"></span>避免明度過低、過於暗沉的顏色</p>
        <p>
          <span class="icon icon--color"></span>
          <span class="colors">
            <span style="background: #775D00"></span>
            <span style="background: #007955"></span>
            <span style="background: #001E87"></span>
            <span style="background: #870000"></span>
          </span>
        </p>
        <p><span class="icon icon--x icon--color"></span>避免單用易引發政治、宗教聯想的顏色</p>
        <p>
          <span class="icon icon--color"></span>
          <span class="colors">
            <span style="background: #009A00"></span>
            <span style="background: #000095"></span>
            <span style="background: #FE6407"></span>
            <span style="background: #F9BE01"></span>
          </span>
        </p>
        <p><span class="icon icon--x icon--color"></span>需符合視障者友善原則，盡量不要同時使用紅／綠／棕／橘</p>
        <p>
          <span class="icon icon--color"></span>
          <span class="colors">
            <span style="background: #CF2A36"></span>
            <span style="background: #298433"></span>
            <span style="background: #574B19"></span>
            <span style="background: #FDB445"></span>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="section__toggle">
    <div class="container">
      <span>3</span>
      <h4><span>角色設計建議</span>Character design usage</h4>
    </div>
  </div>
  <div class="section__content">
    <div class="container">
      <p><b>用可愛角色溝通嚴肅的必要資訊，能降低溝通門檻（以口罩小子為例）</b></p>
      <ol>
        <li>先選擇：與防疫相關，但無負面資訊的物件</li>
        <li>再創作：輔助為主要目的。勿過度複雜、鮮豔，以簡單、幾何圖形為主</li>
        <li>後應用：傳遞訊息為目標，勿搶資訊焦點</li>
      </ol>
      <img class="hide-md" src="./assets/images/guideline-3/character--sm.png" width="332" />
      <img class="hide-sm" src="./assets/images/guideline-3/character--md.png" width="1124" />
    </div>
  </div>

  <div class="section__toggle">
    <div class="container">
      <span>4</span>
      <h4><span>包裝形式建議</span>Packaging usage</h4>
    </div>
  </div>
  <div class="section__content">
    <div class="container">
      <p><b>具別種功能的包裝，能有效提升防疫包使用度</b></p>
      <p><span class="icon icon--o"></span>不只是包裝：  除了裝防疫物資外，或許還能結合體溫登記...</p>
      <p><span class="icon icon--o"></span>對環境好：需大量發放，可使用環保可分解材質或可重複使用的包裝</p>
      <p><span class="icon icon--o"></span>傳達資訊：印上需要讓隔離者知道的重要資訊，減少傳單成本、同時增加「防疫包」的使用</p>
    </div>
  </div>

  <div class="section__toggle">
    <div class="container">
      <span>5</span>
      <h4><span>文字表達</span>Copywriting</h4>
    </div>
  </div>
  <div class="section__content">
    <div class="container container--row">
      <div class="tabs" data-tab="1">
        <button class="tab tab--o" data-tab="1"><span class="icon icon--o"></span>請遵循</button>
        <button class="tab tab--x" data-tab="2"><span class="icon icon--x"></span>請注意</button>
      </div>
      <div class="tab__content tab__content--half" data-tab="1">
        <p><span class="icon icon--o"></span>使用統一的標註方式</p>
        <img src="./assets/images/guideline-3/copy-writing-1.png" width="340" />
        <p><span class="icon icon--o"></span>使用合適圖示／列點取代段落式文字說明</p>
        <img src="./assets/images/guideline-3/copy-writing-2.png" width="340" />
      </div>
      <div class="tab__content tab__content--half" data-tab="2">
        <p><span class="icon icon--x"></span>勿同時以多種方式標註重點</p>
        <img src="./assets/images/guideline-3/copy-writing-3.png" width="340" />
        <p><span class="icon icon--x"></span>避免專業語彙的使用</p>
        <img src="./assets/images/guideline-3/copy-writing-4.png" width="200" />
      </div>
    </div>
  </div>
</section>
