<section>
  <div class="section bg-yellow" id="step-2.1" data-order="2.1">
    <div class="section__main">
      <div class="container">
        <p>Step02</p>
        <h3>第二步：我們如何定義防疫包內容？</h3>
        <div class="bar">
          <img src="~/assets/images/guideline-2/bar.png" alt="" height="270" />
        </div>
      </div>
    </div>
  </div>

  <div class="section section__block" id="step-2.2" data-order="2.2">
    <div class="container">
      <h5>實際應用 - 基本物資</h5>
      <div>
        <button class="modal-button">物資判斷指標</button>

        <div class="modal-cover">
          <div class="modal">
            <b>物資判斷指標</b>
            <p>此指標為用於判斷該物品是否符合基本物資之標準，此指標保有彈性，可依據不同地區以及狀況做調整。</p>

            <div class="modal__paper">
              <div class="paper__title">
                <p><b>應急性</b>定義：在短時間內可滿足生理需求</p>
                <p><b>通用性</b>定義：不同隔離環境皆可使用</p>
              </div>
              <div class="paper__content">
                <p><span></span><span></span><span></span><span></span><span></span></p>
                <span><b>高</b><b>低</b></span>
                <p><span></span><span></span><span></span><span></span><span></span></p>
              </div>
            </div>

            <button class="modal__close"></button>
          </div>
        </div>
      </div>

      <div class="slider-box" data-offset="0">
        <div class="slider">
          <img src="~/assets/images/guideline-2/supplies-1.png" alt="" />
          <span>乾糧</span>
          <ul>
            <li>目標：及時快速填飽肚子</li>
            <li>物資範例：白米、燕麥片</li>
          </ul>
        </div>
        <div class="slider">
          <img src="~/assets/images/guideline-2/supplies-2.png" alt="" />
          <span>居家用品</span>
          <ul>
            <li>目標：生活必需的備品</li>
            <li>物資範例：垃圾袋、衛生紙</li>
          </ul>
        </div>
        <div class="slider">
          <img src="~/assets/images/guideline-2/supplies-3.png" alt="" />
          <span>防疫用品</span>
          <ul>
            <li>目標：能自主清潔、打掃</li>
            <li>物資範例：漂白水、酒精、擦拭布、簡易清潔用具</li>
          </ul>
        </div>

        <div class="slider-button slider-button--prev" data-slide="-1"></div>
        <div class="slider-button slider-button--next" data-slide="1"></div>
      </div>

      <h5>實際應用 - 額外物資</h5>

      <div class="slider-box" data-offset="0">
        <div class="slider">
          <img src="~/assets/images/guideline-2/supplies-4.png" alt="" />
          <span>零食</span>
          <ul>
            <li>目標：創造滿足的情緒</li>
            <li>物資範例：泡麵、洋芋片</li>
          </ul>
        </div>
        <div class="slider">
          <img src="~/assets/images/guideline-2/supplies-5.png" alt="" />
          <span>娛樂用品</span>
          <ul>
            <li>目標：創造驚喜的情緒</li>
            <li>物資範例：串流平臺 14 天授權碼、小植栽</li>
          </ul>
        </div>
        <div class="slider">
          <img src="~/assets/images/guideline-2/supplies-6.png" alt="" />
          <span>生產力工具</span>
          <ul>
            <li>目標：創造貼心</li>
            <li>物資範例：遠距工作軟體授權、諮詢服務窗口</li>
          </ul>
        </div>

        <div class="slider-button slider-button--prev" data-slide="-1"></div>
        <div class="slider-button slider-button--next" data-slide="1"></div>
      </div>
    </div>
  </div>

  <div class="section bg-yellow" id="step-2.3" data-order="2.3">
    <div class="section__main">
      <div class="container">
        <p>Our suggestions</p>
        <h3>我們的建議組合</h3>

        <div class="suggestions">
          <ul>
            <li>
              <b><span class="hide-sm">「</span>高應急、高通用<span class="hide-sm">」的</span><br class="hide-md" />基本物資 × 3</b>
              <small>三種類別依據「高應急、高通用」各選一項</small>
            </li>
            <li>
              <b><span class="hide-sm">「</span>高應急、低通用<span class="hide-sm">」的</span><br class="hide-md" />基本物資 × 1</b>
              <small>三種類別依據「高應急、低通用」任選一項</small>
            </li>
            <li>
              <b><span class="hide-sm">「</span>低應急、低通用<span class="hide-sm">」的</span><br class="hide-md" />額外物資 × 1</b>
              <small>非必要，三種類別依據「低應急、低通用」任選一項</small>
            </li>
          </ul>

          <div class="suggestions__paper">
            <b>範例</b>
            <p>米飯 + 衛生紙 + 消毒水</p>
            <p>垃圾袋</p>
            <p>泡麵</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
