<section>
  <div class="section" id="step-1.1" data-order="1.1">
    <div class="section__main">
      <div class="section--description">
        <div class="container">
          <p>Step01</p>
          <h3>第一步：我們要提供防疫包給誰？</h3>
          <img alt="" src="~/assets/images/guideline-1/description.png" width="560" />
          <p>在推出任何產品前，企業都會先提出「市場的需求為何？」、「消費者在哪？」等問題，以了解、並滿足使用者。<br/><br/>同樣概念套用於政府，我們也須在推出服務前，先了解使用者的需求，以獲得更高的大眾滿意度及形象。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="step-1.2" data-order="1.2">
    <div class="section__main">
      <div class="container">
        <p>Methodology</p>
        <h3>透過「設計思考方法」來拆解</h3>
        <img class="img--main hide-md" src="~/assets/images/guideline-1/method--sm.png" width="340">
        <img class="img--main hide-sm" src="~/assets/images/guideline-1/method--md.png" width="1320">
      </div>
    </div>
  </div>

  <div class="section bg-blue" id="step-1.3" data-order="1.3">
    <div class="section__main">
      <div class="container">
        <p class="text-center">Insights</p>
        <h3 class="text-center">策略洞察</h3>
        <p class="text-center" style="margin-top: -20px">以下為常用的調查研究方法</p>


        <ul class="icon-list text-center">
          <li></li>
          <li>
            <img src="~/assets/images/guideline-1/research-1.png" alt="" />
            <span>擬定問題</span>
          </li>
          <li>
            <img src="~/assets/images/guideline-1/research-2.png" alt="" />
            <span>量化調查</span>
          </li>
          <li></li>
          <li>
            <img src="~/assets/images/guideline-1/research-3.png" alt="" />
            <span>初步分析</span>
          </li>
          <li>
            <img src="~/assets/images/guideline-1/research-4.png" alt="" />
            <span>質化調查</span>
          </li>
          <li>
            <img src="~/assets/images/guideline-1/research-5.png" alt="" />
            <span>研究結果</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section" id="step-1.4" data-order="1.4">
    <div class="section__main">
      <div class="container">
        <p>User Journey</p>
        <h3>調查研究 - <br class="hide-md" />防疫包的使用者旅程</h3>
      </div>
    </div>
    <div class="section__main no-padding">
      <div class="container">
        <ul class="chart-list">
          <li>
            <span class="toggle">User Journey 01</span>
            <div>
              <img alt="" src="~/assets/images/guideline-1/journey-avatar-1.png" />
              <img alt="" src="~/assets/images/guideline-1/journey-chart-1.png" />
            </div>
          </li>
          <li>
            <span class="toggle">User Journey 02</span>
            <div>
              <img alt="" src="~/assets/images/guideline-1/journey-avatar-2.png" />
              <img alt="" src="~/assets/images/guideline-1/journey-chart-2.png" />
            </div>
          </li>
          <li>
            <span class="toggle">User Journey 03</span>
            <div>
              <img alt="" src="~/assets/images/guideline-1/journey-avatar-3.png" />
              <img alt="" src="~/assets/images/guideline-1/journey-chart-3.png" />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <p><br/></p>
  </div>

  <div class="section bg-yellow" id="step-1.5" data-order="1.5">
    <div class="section__main">
      <div class="container">
        <p class="text-center">Insights</p>
        <h3 class="text-center">策略洞察</h3>

        <ul class="text-list text-center">
          <li>防疫包內容物不一致導致民眾比較心態，引發負面情緒。</li>
          <li>防疫包內容物無法滿足需求，導致使用者認定為無效。</li>
          <li>呈現形式未考慮使用者需求，造成不便，產生負面情緒。</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section" id="step-1.6" data-order="1.6">
    <div class="section__main">
      <div class="container">
        <p>User's needs</p>
        <h3>策略洞察 - 防疫包三層次需求</h3>

        <div class="slider-box" data-offset="0">
          <div class="slider">
            <img src="~/assets/images/guideline-1/need-1.png" alt="" />
            <span>初階</span>
            <ul>
              <li>品項：基本防疫物資（ 酒精、消毒水、口罩 ）</li>
              <li>目標：避免過度期物資短缺出現負面情緒</li>
            </ul>
          </div>
          <div class="slider">
            <img src="~/assets/images/guideline-1/need-2.png" alt="" />
            <span>中階</span>
            <ul>
              <li>品項：食物、零食（ 泡麵、餅乾 ）等</li>
              <li>物資範例：白米、燕麥片</li>
            </ul>
          </div>
          <div class="slider">
            <img src="~/assets/images/guideline-1/need-3.png" alt="" />
            <span>高階</span>
            <ul>
              <li>品項：心靈層面療癒小物、生產力工具</li>
              <li>目標：強化與防疫包的關聯與正面情緒</li>
            </ul>
          </div>

          <div class="slider-button slider-button--prev" data-slide="-1"></div>
          <div class="slider-button slider-button--next" data-slide="1"></div>
        </div>
      </div>
    </div>
  </div>
</section>
