<section class="section" id="step-1" data-order="1">
  <div class="section__main">
    <div class="container">
      <p>Step01</p>
      <h3>第一步：我們要提供防疫包給誰？</h3>
      <p>在推出任何產品前，企業都會先提出「市場的需求為何？」、「消費者在哪？」等問題，以了解、並滿足使用者。<br/><br/>同樣概念套用於政府，我們也須在推出服務前，先了解使用者的需求，以獲得更高的大眾滿意度及形象。</p>
    </div>
  </div>
</section>

<!-- <section id="step-1">
  <div class="guideline-section">
    <div class="guideline-section-navbar guideline-section-navbar--step01">
      <img src="./assets/images/navbar--step01.png" />
    </div>
    <div class="guideline-section-title">第一步：我們要提供防疫包給誰？</div>
    <div class="guideline-section-description">
      <p>在推出任何產品前，企業都會先提出「市場的需求為何？」、「消費者在哪？」等問題，以了解、並滿足使用者。</p>
      <p>同樣概念套用於政府，我們也須在推出服務前，先了解使用者的需求，以獲得更高的大眾滿意度及形象。</p>
      <img src ="./assets/images/guideline-section-step01-description.png" />
    </div>
  </div>
  <article class="target methodoloy">
    <div>Methodoloy</div>
    <div>透過「設計思考方法」來拆解</div>
  </article>
  <article class="target research">
    <div>Research</div>
    <div>調查研究</div>
    <div>以下為常用的調查研究方法</div>
    <ul>
      <li>擬定問題</li>
      <li>量化調查</li>
      <li>初步分析</li>
      <li>質化調查</li>
      <li>研究結果</li>
    </ul>
  </article>
  <article>
    <div>User Journey</div>
    <div>調查研究 - 防疫包的使用者旅程</div>
    <div class="user-joumey">
      <div class="user-joumey-profile">
        <img src ="./assets/images/guideline-user-journey-01-profile.png" />
      </div>
      <div class="user-joumey-chart">
        <img src ="./assets/images/guideline-user-journey-01-chart.png" />
      </div>
    </div>
    <div class="user-joumey">
      <div class="user-joumey-profile">
        <img src ="./assets/images/guideline-user-journey-02-profile.png" />
      </div>
      <div class="user-joumey-chart">
        <img src ="./assets/images/guideline-user-journey-02-chart.png" />
      </div>
    </div>
    <div class="user-joumey">
      <div class="user-joumey-profile">
        <img src ="./assets/images/guideline-user-journey-03-profile.png" />
      </div>
      <div class="user-joumey-chart">
        <img src ="./assets/images/guideline-user-journey-03-chart.png" />
      </div>
    </div>
  </article>
  <article>
    <div>Insights</div>
    <div>策略洞察</div>
    <ul>
      <li>防疫包內容物不一致導致民眾比較心態，引發負面情緒。</li>
      <li>防疫包內容物無法滿足需求，導致使用者認定為無效。</li>
      <li>呈現形式未考慮使用者需求，造成不便，產生負面情緒。</li>
    </ul>
  </article>
  <article class="target research">
    <div>User’s needs</div>
    <div>策略洞察 - 防疫包三層次需求</div>
    <ul>
      <li>
        <span>初階</span>
        <ul>
          <li>品項：基本防疫物資（酒精、消毒水、口罩）</li>
          <li>目標：避免過度期物資短缺出現負面情緒</li>
        </ul>
      </li>
      <li>
        <span>中階</span>
        <ul>
          <li>品項：食物、零食 (泡麵、餅乾) 等</li>
          <li>目標：避免出現期望落差</li>
        </ul>
      </li>
      <li>
        <span>高階</span>
        <ul>
          <li>品項：心靈層面療癒小物、生產力工具</li>
          <li>目標：強化與防疫包的關聯與正面情緒</li>
        </ul>
      </li>
    </ul>
  </article>
</section> -->
